#main {
    background-color: #0D1B2A;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: #E0E1DD;
    padding: 16px;
}

#itemTitle {
    margin: 0;
    font-size: 28px;
}

#notesList {
    list-style-type: none;
    padding: 0;
}

.noteListElement {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
}

.noteMainDiv {
    width: 100%;
    padding: 5px;
}

.noteBullet {
    border-radius: 25px;
    display: inline;
    padding: 2px 3px;
    margin: 4px 0;
    font-size: 14px;
    cursor: pointer;
}

.noteBullet:hover {
    background-color: #1B263B;
}

.noteTextUneditable {
    margin: 0;
    display: none;
    padding: 2px;
    font-size: 13px;
    width: 100%;
    font-family: "Open Sans", "Lato", sans-serif;
    background: none;
    color: #E0E1DD;
    border: none;
    border-radius: 6px;
    cursor: text;
    min-height: 17px;
}

.noteTextUneditable.show {
    display: block;
}

.noteTextUneditable:hover {
    background-color: #1B263B;
}

.noteTextEditable {
    display: none;
    padding: 2px;
    font-size: 13px;
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: "Open Sans", "Lato", sans-serif;
    background: none;
    color: #E0E1DD;
    border: none;
    border-radius: 6px;
}

.noteTextEditable.show {
    display: block;
}

.noteTextEditable:focus {
    outline: none;
    background-color: #1B263B;
}

.noteTextEditable:hover {
    background-color: #1B263B;
}

.suggestedItems {
    display: none;
    flex-wrap: wrap;
}

.suggestedItems.show {
    display: flex;
}

.suggestedItem {
    cursor: pointer;
    display: inline;
    padding: 4px 10px;
    border-radius: 25px;
    background-color: #1B263B;
    font-size: 12px;
    margin: 2px 2px;
}

.suggestedItem:hover {
    background-color: #415A77;
}

.relatedItems {
    display: none;
    flex-wrap: wrap;
}

.relatedItems.show {
    display: flex;
}

.relatedItem {
    cursor: pointer;
    display: inline;
    padding: 4px 10px;
    border-radius: 25px;
    background-color: #1B263B;
    font-size: 12px;
    margin: 2px 2px;
}

.relatedItem:hover {
    background-color: #415A77;
}