#main {
    background-color: #0D1B2A;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: #E0E1DD;
    padding: 16px;
}

#itemTitle {
    margin: 0;
    font-size: 28px;
}

#notesList {
    list-style-type: none;
    padding: 0;
}

.noteListElement {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
}

.noteMainDiv {
    width: 100%;
    padding: 5px;
}

.noteBullet {
    margin-right: 8px;
    display: inline;
    padding: 4px 0px;
    margin: 0;
    font-size: 14px;
}

.noteText {
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: "Open Sans", "Lato", sans-serif;
    background: none;
    color: #E0E1DD;
    border: none;
    border-radius: 6px;
}

.noteText:focus {
    outline: none;
    background-color: #1B263B;
}

.relatedItem {
    cursor: pointer;
    display: inline;
    padding: 4px 10px;
    border-radius: 25px;
    background-color: #1B263B;
    font-size: 12px;
    margin: 0 2px;
}

.relatedItem:hover {
    background-color: #415A77;
}