#main {
    background-color: #0D1B2A;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: #E0E1DD;
    padding: 16px;
}

#main #itemTitle {
    margin: 0;
    font-size: 28px;
}

#main #notesList {
    list-style-type: none;
    padding: 0;
}

#main #notesList li {
    list-style-type: none;
    padding: 0;
}

#main #notesList li .noteRow {
    display: flex;
    align-items: flex-start;
}

#main #notesList li .noteRow p {
    display: inline;
    padding: 4px 0px;
    margin: 0;
    font-size: 14px;
}

#main #notesList li .noteRow .noteBullet {
    margin-right: 8px;
}